.table-container {
    margin: 0 auto;
    text-align: center;
}



table {
    text-align: justify;
    border-collapse: collapse;
    margin: 0 auto;

    tr:nth-of-type(even) {
        background-color: lightgray;
    }

    th {
        border-bottom: 1px solid gray;
    }
}