<div class="data" *ngIf="size">
    <p>{{data.Date | date}}</p>
    <h1>World COVID19 Summary</h1>
    <table class="table">
        <tr>
            <th>New Recovered</th>
            <td>{{ data.Global.NewRecovered }}</td>
        </tr>
        <tr>
            <th>New Deaths</th>
            <td>{{ data.Global.NewDeaths }}</td>
        </tr>
        <tr>
            <th>New Recovered</th>
            <td>{{ data.Global.NewConfirmed }}</td>
        </tr>
        <tr>
            <th>Total Recovered</th>
            <td>{{ data.Global.TotalRecovered }}</td>
        </tr>
        <tr>
            <th>Total Deaths</th>
            <td>{{ data.Global.TotalDeaths }}</td>
        </tr>
        <tr>
            <th>Total Recovered</th>
            <td>{{ data.Global.TotalConfirmed }}</td>
        </tr>
    </table>
    <a href="/all">See all</a>
</div>